.navlink{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 20px;
    border-radius: 0 20px;
    border: 1px solid #383838;
    background: #282829;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navlink a{
    font-size: 18px;
    color: #fff;
}
.active{
    color: #fcd26b;
}